# CODEOWNERS

* @josephsenior

/backend/ @josephsenior
/launch/ @josephsenior
/docs/ @josephsenior
/.github/workflows/ @josephsenior
/packaging/ @josephsenior
/scripts/ @josephsenior
/evaluation/ @josephsenior
