{% for agent_info in triggered_agents %}
<EXTRA_INFO>
The following information has been included based on a keyword match for "{{ agent_info.trigger }}".
It may or may not be relevant to the user's request.

CRITICAL INSTRUCTION: Because this playbook ("{{ agent_info.name }}") was triggered, you MUST begin your next response to the user with the EXACT phrase:
"Forge is treating this as a [{{ agent_info.name }}] based on your prompt. Generating plan..."

{{ agent_info.content }}
</EXTRA_INFO>
{% endfor %}
